@import url('https://fonts.googleapis.com/css2?family=Edu+NSW+ACT+Hand+Pre:wght@400..700&display=swap');
*{
    font-family: 'Edu NSW ACT Hand Pre', cursive;
    box-sizing: border-box;
}
body {
    margin: 0;
    padding: 0;
    background-color: #f0f0f0;
    display: flex;
    justify-content: center;
    align-items: center;
}
.container {
    width: 700px;
    max-width: 100%;
    margin: 0 auto;
    padding: 10px;
    
}
img{
    width: 700px;
    max-width: 100%;
}
.text {
    opacity: 0;
    transition: opacity 0.5s ease-in-out;
}
.text.show {
    opacity: 1;
}
